<div class="mastery">
	<div id="interlude">Technologies I Plan to Master:</div><br>
	<table>
		<td><div id="html5"><%= image_tag('html5.png') %></div></td>
		<td><div id="CSS3"><%= image_tag('CSS3.png') %></div></td>
		<td><div id="js"><%= image_tag('js.png') %></div></td>
		<td><div id="ruby"><%= image_tag('ruby.png') %></div></td>
		<td><div id="rails"><%= image_tag('rails.png') %></div></td>
		<td><div id="ajs"><%= image_tag('ajs.png') %></div></td>

	</table><br><br>
</div>
<div class="skills">
	<div id="interlude2">My Knowledge:</div><br>
	<div id="chart-3" style="height: 300px;"></div>
</div>
<div class="wakingtime">
	<div id="interlude3">How I spend my waking time (hours):</div><br>
	<div id="chart-1" style="height: 300px;"></div>
</div>

<script>
$(document).ready(function(){
	 t = new TimelineLite();
  t2 = new TimelineLite();
  t3 = new TimelineLite();
  t4 = new TimelineLite();
  t5 = new TimelineLite();
  t6 = new TimelineLite();
  t7 = new TimelineLite();
  t8 = new TimelineLite();
  t9 = new TimelineLite();

  $('#interlude').mouseenter(function(){
    t7.to($(this), 0.7, {scale:1.2});
    t7.restart();
  });
  $('#interlude').mouseleave(function(){
    t7.reverse();
  });
  $('#interlude2').mouseenter(function(){
    t8.to($(this), 0.7, {scale:1.2});
    t8.restart();
  });
  $('#interlude2').mouseleave(function(){
    t8.reverse();
  });
  $('#interlude3').mouseenter(function(){
    t9.to($(this), 0.7, {scale:1.2});
    t9.restart();
  });
  $('#interlude3').mouseleave(function(){
    t9.reverse();
  });

  $('#html5').mouseenter(function(){
    t.to($(this), 0.7, {scale:1.2});
    t.restart();
  });
  $('#html5').mouseleave(function(){
    t.reverse();
  });

  $('#CSS3').mouseenter(function(){
    t2.to($(this), 0.7, {scale:1.2});
    t2.restart();
  });
  $('#CSS3').mouseleave(function(){
    t2.reverse();
  });
  $('#js').mouseenter(function(){
    t3.to($(this), 0.7, {scale:1.2});
    t3.restart();
  });
  $('#js').mouseleave(function(){
    t3.reverse();
  });
  $('#ruby').mouseenter(function(){
    t4.to($(this), 0.7, {scale:1.2});
    t4.restart();
  });
  $('#ruby').mouseleave(function(){
    t4.reverse();
  });
  $('#rails').mouseenter(function(){
    t5.to($(this), 0.7, {scale:1.2});
    t5.restart();
  });
  $('#rails').mouseleave(function(){
    t5.reverse();
  });
  $('#ajs').mouseenter(function(){
    t6.to($(this), 0.7, {scale:1.2});
    t6.restart();
  });
  $('#ajs').mouseleave(function(){
    t6.reverse();
  });

  new Chartkick.PieChart("chart-1", [["Coding",7],["Eating",2],["Exercise",1],["Commuting",1.5],["Leisure",4]], {"colors": ["#BF495E", "#41A693", "#F2EC9B", "#D9CF48", "#D9583B"]});

  new Chartkick.BarChart("chart-3", [{name: "Hours Practised", data: [["HTML",200],["CSS",200],["JavaScript",300],["Ruby/Rails",300]]}, {name: "Remaining Hours to Mastery", data: [["HTML",4800],["CSS",4800],["JavaScript",4700],["Ruby/Rails",4700]]}], {'colors': ['#d54d72', 'pink'], max: 5000, stacked: true});

});
</script>