<div class="mastery">
	<div id="interlude">Technologies I Plan to Master:</div><br>
	<table>
		<td><div id="html5"><%= image_tag('html5.png') %></div></td>
		<td><div id="CSS3"><%= image_tag('CSS3.png') %></div></td>
		<td><div id="js"><%= image_tag('js.png') %></div></td>
		<td><div id="ruby"><%= image_tag('ruby.png') %></div></td>
		<td><div id="rails"><%= image_tag('rails.png') %></div></td>
		<td><div id="ajs"><%= image_tag('ajs.png') %></div></td>

	</table><br><br>
</div>
<div class="skills">
	<div id="interlude2">My Knowledge:</div><br>
	<div id="chart-3" style="height: 300px;"></div>
</div>
<div class="wakingtime">
	<div id="interlude3">How I spend my waking time (hours):</div><br>
	<div id="chart-1" style="height: 300px;"></div>
</div>

