<div class="sidebar">
	<br>
	<div id="home_txt"><%= link_to 'Home', root_path, class: 'sidelink' %></div><br>
	<div id="resume_txt"><%= link_to 'Resume', pages_resume_path, class: 'sidelink' %></div><br>
	<div id="mywork_txt"><%= link_to 'My Work', projects_index_path, class: 'sidelink' %></div><br>
	<div id="skills_txt"><%= link_to 'Skills', pages_skills_path, class: 'sidelink' %></div><br>
	<div class="iconz">
		<%= link_to 'https://www.facebook.com/ilia.reingold?ref=tn_tnmn' do %>
		<%= image_tag('fbook.png', :id => 'fbook') %>
		<% end %>
		<%= link_to 'https://github.com/ilrein' do %>
		<%= image_tag('ghub.png', :id => 'ghub') %>
		<% end %>
	</div>
	<div class="iconz">
		<%= link_to '#' do %>
		<%= image_tag('twitter.png', :id => 'twitter') %>
		<% end %>
		<%= link_to '#' do %>
		<%= image_tag('linkedin.png', :id => 'linkedin') %>
		<% end %>
	</div>
</div>
<script>
	//$('.sidebar').bigtext();
	tl = new TimelineLite();
	tl2 = new TimelineLite();
	tl3 = new TimelineLite();
	tl4 = new TimelineLite();

	tl5 = new TimelineLite();
	tl6 = new TimelineLite();
	tl7 = new TimelineLite();
	tl8 = new TimelineLite();

	//mouse hover animations
	$('#home_txt').on("mouseenter", function(){
		tl.to($(this), 0.2, {css:{top:"5px", fontSize:"40px"}});
		tl.restart();
	});
	$('#home_txt').on("mouseleave", function(){
		tl.reverse();
	});
	//...........................................

	$('#resume_txt').on("mouseenter", function(){
		tl2.to($(this), 0.2, {css:{top:"5px", fontSize:"40px"}});
		tl2.restart();
	});
	$('#resume_txt').on("mouseleave", function(){
		tl2.reverse();
	});
	//   .......................................

	$('#mywork_txt').on("mouseenter", function(){
		tl3.to($(this), 0.2, {css:{top:"5px", fontSize:"40px"}});
		tl3.restart();
	});
	$('#mywork_txt').on("mouseleave", function(){
		tl3.reverse();
	});
	//...........................................
	$('#skills_txt').on("mouseenter", function(){
		tl4.to($(this), 0.2, {css:{top:"5px", fontSize:"40px"}});
		tl4.restart();
	});
	$('#skills_txt').on("mouseleave", function(){
		tl4.reverse();
	});
	//...........................................
	$('#fbook').on("mouseenter", function(){
		tl5.to($(this), 60, {rotation:360});
		tl5.resume();
	});
	$('#fbook').on("mouseleave", function(){
		tl5.pause();
	});
	//...........................................
	$('#ghub').on("mouseenter", function(){
		tl6.to($(this), 60, {rotation:360});
		tl6.resume();
	});
	$('#ghub').on("mouseleave", function(){
		tl6.pause();
	});
	//...........................................
	$('#twitter').on("mouseenter", function(){
		tl7.to($(this), 60, {rotation:360});
		tl7.resume();
	});
	$('#twitter').on("mouseleave", function(){
		tl7.pause();
	});
	//...........................................
	$('#linkedin').on("mouseenter", function(){
		tl8.to($(this), 60, {rotation:360});
		tl8.resume();
	});
	$('#linkedin').on("mouseleave", function(){
		tl8.pause();
	});
</script>